@config '../../tailwind.config.mjs';
@import 'tailwindcss';

/* Google Fonts are loaded via the Layout component */

/* Navigation styles */
.hamActive {
  @apply transform rotate-90;
}

.hamActive .activeBar {
  @apply bg-white;
}

.hamActive .activeBar:nth-child(1) {
  @apply transform translate-y-3 -rotate-45;
}

.hamActive .activeBar:nth-child(2) {
  width: 0px;
}

.hamActive .activeBar:nth-child(3) {
  @apply transform -translate-y-3 rotate-45;
}

.navOpen {
  @apply transform translate-x-0;
}

.nav-link {
  translate: -100%;
}

.slideIn {
  translate: 0;
  animation: slidein 0.3s ease-in-out 1 var(--slide-delay, 0.2s) both;
}

.slideOut {
  translate: -100%;
  animation: slideout 0.3s ease-in-out 1 both;
}

@keyframes slidein {
  from {
    translate: -100%;
  }
  to {
    translate: 0;
  }
}

@keyframes slideout {
  from {
    translate: 0;
  }
  to {
    translate: -100%;
  }
}

nav .active {
  @apply bg-gray-200 text-teal-600;
}
