---
interface Props {
  bullets: string[]
}

const { bullets } = Astro.props

const bodyTextClass = 'leading-relaxed tracking-wide text-gray-700'
const bulletItemClass = `pl-2 mb-3 ${bodyTextClass}`
const bulletItemLastClass = `pl-2 ${bodyTextClass}`
---

<ul class="ml-4 list-disc">
  {
    bullets.map((bullet, index) => (
      <li
        class={
          index === bullets.length - 1 ? bulletItemLastClass : bulletItemClass
        }
      >
        {bullet}
      </li>
    ))
  }
</ul>
