---
import Layout from '../layouts/Layout.astro'
import ResumeSection from '../components/resume/ResumeSection.astro'
import ResumeItem from '../components/resume/ResumeItem.astro'
import { RESUME_SECTIONS } from '../data/resume'
---

<Layout
  title="Resume"
  description="A current resume for Travis Windsor-Cummings"
>
  <div class="flex justify-center">
    <div class="max-w-5xl px-4 pb-20 md:pb-24 md:px-8">
      <h1
        class="mb-5 text-4xl font-medium tracking-wider text-gray-800 md:text-5xl xl:text-6xl font-display"
      >
        Resumé
      </h1>

      {
        RESUME_SECTIONS.map((section) => (
          <ResumeSection title={section.title} bodyClass={section.bodyClass}>
            {section.items.map((item, index) => (
              <>
                <ResumeItem item={item} />
                {index < section.items.length - 1 && (
                  <hr class="my-6 sm:my-8" />
                )}
              </>
            ))}
          </ResumeSection>
        ))
      }
    </div>
  </div>
</Layout>
