---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Resume" description="A current resume for Travis Windsor-Cummings">
  <div class="flex justify-center">
    <div class="max-w-5xl px-4 pb-20 md:pb-24 md:px-8">
      <h1
        class="mb-5 text-4xl font-medium tracking-wider text-gray-800 md:text-5xl xl:text-6xl font-display"
      >
        Resumé
      </h1>

      <section class="shadow">
        <h2
          class="px-4 pt-3 pb-2 font-sans text-2xl font-semibold leading-none tracking-wider text-white bg-teal-800 border border-teal-800 rounded-t-sm md:px-8 md:pt-4 md:pb-3 md:text-3xl xl:text-4xl"
        >
          Experience
        </h2>
        <div
          class="px-4 pt-8 pb-12 mb-8 border border-gray-200 rounded-b-sm md:px-8"
        >
          <div>
            <h3
              class="mb-4 text-2xl leading-tight tracking-wide text-gray-700 md:text-3xl"
            >
              Elite Deals
            </h3>

            <div class="mb-4 sm:mb-6 sm:items-center sm:flex">
              <img
                src="/images/logos/ED-circle-logo.png"
                alt="Elite Deals Logo"
                class="object-contain w-32 h-16 mb-6 sm:mb-0 sm:mr-8"
              />

              <div>
                <h4 class="text-xl tracking-wide text-teal-800 md:text-2xl">
                  Front End Developer
                </h4>
                <p
                  class="leading-relaxed tracking-wide text-gray-700 md:text-lg"
                >
                  July 2019 &mdash; Present
                </p>
              </div>
            </div>

            <ul class="ml-4 list-disc">
              <li class="pl-2 mb-3 leading-relaxed tracking-wide text-gray-700">
                Build and maintain the company's visual front-end elements and
                web assets according to internal design specifications and
                project requirements.
              </li>
              <li class="pl-2 mb-3 leading-relaxed tracking-wide text-gray-700">
                Continuing education in current and future technologies that
                could benefit the company.
              </li>
              <li class="pl-2 leading-relaxed tracking-wide text-gray-700">
                HTML, CSS, JavaScript, Vue.js, jQuery, Bootstrap, PHP, Laravel
              </li>
            </ul>
          </div>

          <hr class="my-6 sm:my-8" />

          <div>
            <h3 class="mb-1 text-2xl tracking-wide text-gray-700 md:text-3xl">
              Estes Express Lines
            </h3>

            <div class="mb-4 sm:mb-6 sm:items-center sm:flex">
              <img
                src="/images/logos/estes-yellow-logo.png"
                alt="Estes Express Lines Logo"
                class="object-contain w-32 h-16 mb-2 mr-8 sm:mb-0"
              />
              <div>
                <h4 class="text-xl tracking-wide text-teal-800 md:text-2xl">
                  Hostler
                </h4>
                <p
                  class="leading-relaxed tracking-wide text-gray-700 md:text-lg"
                >
                  July 2014 &mdash; July 2019
                </p>
              </div>
            </div>

            <ul class="ml-4 list-disc">
              <li class="pl-2 mb-3 leading-relaxed tracking-wide text-gray-700">
                Safely and efficiently plan work and equipment to fit the needs
                of available freight.
              </li>
              <li class="pl-2 leading-relaxed tracking-wide text-gray-700">
                Proficient with backing, hooking and unhooking trailers of
                various lengths utilizing a yard truck.
              </li>
            </ul>
          </div>

          <hr class="my-6 sm:my-8" />

          <div>
            <h3 class="mb-1 text-2xl tracking-wide text-gray-700 md:text-3xl">
              AT&T Uverse
            </h3>

            <div class="mb-4 sm:mb-6 sm:items-center sm:flex">
              <img
                src="/images/logos/att-uverse-logo.png"
                alt="AT&T Uverse Logo"
                class="object-contain w-32 h-16 mb-4 mr-8 sm:mb-0"
              />

              <div>
                <h4 class="text-xl tracking-wide text-teal-800 md:text-2xl">
                  Wire Technician
                </h4>
                <p
                  class="leading-relaxed tracking-wide text-gray-700 md:text-lg"
                >
                  December 2010 &mdash; February 2013
                </p>
              </div>
            </div>

            <ul class="ml-4 list-disc">
              <li class="pl-2 mb-3 leading-relaxed tracking-wide text-gray-700">
                Verified, established, and maintained IP based internet,
                television, and phone services.
              </li>
              <li class="pl-2 leading-relaxed tracking-wide text-gray-700">
                Guided customers in the operation of applicable user interfaces.
              </li>
            </ul>
          </div>
        </div>
      </section>

      <section class="shadow">
        <h2
          class="px-4 pt-3 pb-2 font-sans text-2xl font-semibold leading-none tracking-wider text-white bg-teal-800 border border-teal-800 rounded-t-sm md:px-8 md:pt-4 md:pb-3 md:text-3xl xl:text-4xl"
        >
          Education
        </h2>
        <div
          class="px-4 pt-8 pb-12 mb-8 border border-gray-200 rounded-b-sm md:px-8"
        >
          <h3
            class="text-2xl leading-tight tracking-wide text-gray-700 md:text-3xl"
          >
            Tech901
          </h3>

          <img
            src="/images/logos/tech901-power-logo.png"
            alt="Tech901 Logo"
            class="object-contain w-32 h-16 mb-2 mr-8"
          />

          <h4 class="text-xl tracking-wide text-teal-800 md:text-2xl">
            Code 1.0
          </h4>
          <p class="leading-relaxed tracking-wide text-gray-700 md:text-lg">
            September 2018 &mdash; December 2018
          </p>

          <hr class="my-6 sm:my-8" />

          <h4 class="text-xl tracking-wide text-teal-800 md:text-2xl">
            IT Project
          </h4>
          <p class="leading-relaxed tracking-wide text-gray-700 md:text-lg">
            October 2019 &mdash; December 2019
          </p>
        </div>
      </section>

      <section class="shadow">
        <h2
          class="px-4 pt-3 pb-2 font-sans text-2xl font-semibold leading-none tracking-wider text-white bg-teal-800 border border-teal-800 rounded-t-sm md:px-8 md:pt-4 md:pb-3 md:text-3xl xl:text-4xl"
        >
          Certifications
        </h2>
        <div
          class="px-4 pt-8 pb-8 mb-8 border border-gray-200 rounded-b-sm md:px-8"
        >
          <h3
            class="mb-2 text-2xl leading-tight tracking-wide text-gray-700 md:text-3xl"
          >
            CompTIA
          </h3>

          <h4 class="text-xl tracking-wide text-teal-800 md:text-2xl">
            Project &#43;
          </h4>
          <p class="leading-relaxed tracking-wide text-gray-700 md:text-lg">
            December 14, 2019
          </p>

          <img
            src="/images/logos/comptia-project-plus-logo.svg"
            alt="CompTIA Project+ Logo"
            class="object-contain w-32 h-32 mr-8"
          />
        </div>
      </section>

      <section class="shadow">
        <h2
          class="px-4 pt-3 pb-2 font-sans text-2xl font-semibold leading-none tracking-wider text-white bg-teal-800 border border-teal-800 rounded-t-sm md:px-8 md:pt-4 md:pb-3 md:text-3xl xl:text-4xl"
        >
          Projects
        </h2>
        <div
          class="px-4 pt-8 pb-12 mb-8 border border-gray-200 rounded-b-sm md:px-8"
        >
          <h3
            class="mb-2 text-2xl leading-tight tracking-wide text-gray-700 md:text-3xl"
          >
            Faith Presbyterian Germantown
          </h3>

          <img
            src="/images/logos/faith-pres-gtown-logo.svg"
            alt="Faith Presbyterian Germantown Logo"
            class="object-contain w-32 h-24 mb-3 mr-8"
          />

          <h4 class="mb-2 text-xl tracking-wide text-teal-800 md:text-2xl">
            Website Implementation
          </h4>
          <p class="mb-2 leading-relaxed tracking-wide text-gray-700">
            Design and implementation of a new, modern website using web-based
            design tools from Squarespace.com.
          </p>
          <a
            href="http://faithgermantown.com"
            class="text-teal-600 underline transition-colors duration-300 hover:text-teal-500"
            >http://faithgermantown.com</a
          >
        </div>
      </section>

      <section class="shadow">
        <h2
          class="px-4 pt-3 pb-2 font-sans text-2xl font-semibold leading-none tracking-wider text-white bg-teal-800 border border-teal-800 rounded-t-sm md:px-8 md:pt-4 md:pb-3 md:text-3xl xl:text-4xl"
        >
          Community Service
        </h2>
        <div
          class="px-4 pt-8 pb-12 border border-gray-200 rounded-b-sm md:px-8"
        >
          <h3
            class="mb-2 text-2xl leading-tight tracking-wide text-gray-700 md:text-3xl"
          >
            Faith Presbyterian Germantown
          </h3>

          <img
            src="/images/logos/faith-pres-gtown-logo.svg"
            alt="Faith Presbyterian Germantown Logo"
            class="object-contain w-32 h-24 mb-3 mr-8"
          />

          <h4 class="text-xl tracking-wide text-teal-800 md:text-2xl">
            Youth Ministry Leader
          </h4>

          <p
            class="mb-2 leading-relaxed tracking-wide text-gray-700 md:text-lg"
          >
            September 2017 &mdash; March 2020
          </p>

          <ul class="ml-4 list-disc">
            <li class="pl-2 mb-3 leading-relaxed tracking-wide text-gray-700">
              Assist the Youth and Student Ministries Director with planning,
              and executing events on a weekly, monthly, and yearly basis.
            </li>
            <li class="pl-2 leading-relaxed tracking-wide text-gray-700">
              Mentoring youth and college students by helping them through life
              with a faith-focused mission.
            </li>
          </ul>

          <hr class="my-6 sm:my-8" />

          <h4 class="text-xl tracking-wide text-teal-800 md:text-2xl">
            Audio / Video Technician
          </h4>

          <p
            class="mb-2 leading-relaxed tracking-wide text-gray-700 md:text-lg"
          >
            September 2017 &mdash; March 2020
          </p>

          <ul class="ml-4 list-disc">
            <li class="pl-2 mb-3 leading-relaxed tracking-wide text-gray-700">
              Manage audio and video equipment, such as a mixing board,
              projector, presentation software, instrument interfaces, and
              microphones.
            </li>
            <li class="pl-2 leading-relaxed tracking-wide text-gray-700">
              Responsible for sound checks, equipment placement, volume, and
              quality of sound.
            </li>
          </ul>
        </div>
      </section>
    </div>
  </div>
</Layout>
