---
import Icon from './Icon.astro'
import { SOCIAL_LINKS } from '../config/site'

const socialLinkClass =
  'w-8 h-8 text-white transition-colors delay-300 sm:w-6 sm:h-6 hover:text-teal-500'
---

<footer
  class="fixed bottom-0 left-0 z-0 flex justify-center w-full h-32 px-4 py-6 bg-gray-800 sm:px-6"
>
  <div
    class="flex flex-col items-center w-full max-w-screen-xl lg:w-3/4 sm:flex-row sm:justify-between sm:items-start"
  >
    <p class="mb-4 font-semibold tracking-wide text-white sm:mb-0">
      &copy; {new Date().getFullYear()} Travis Windsor-Cummings
    </p>
    <div class="flex">
      {
        SOCIAL_LINKS.map((link, index) => (
          <a
            href={link.href}
            target="_blank"
            rel="noopener noreferrer"
            class:list={[
              socialLinkClass,
              index !== SOCIAL_LINKS.length - 1 && 'mr-8 sm:mr-6',
            ]}
            aria-label={link.label}
          >
            <Icon type={link.icon} class="w-full h-full" />
          </a>
        ))
      }
    </div>
  </div>
</footer>
