---
---

<a href="/" aria-label="Travis-Windsor-Cummings">
  <svg
    width="250"
    height="250"
    version="1.1"
    viewBox="0 0 66.146 66.146"
    xmlns="http://www.w3.org/2000/svg"
    class="logo w-10 h-10"
  >
    <g transform="translate(-484.86 -12.947)">
      <path
        d="m189.2 12.967c-0.2515-0.02767-0.50719-0.02767-0.76496 0.0017-13.987 4.5282-19.029 6.4419-41.78 14.288-22.751 7.8465-92.458 32.081-94.689 32.938-2.2306 0.85652-2.7737 1.0401-2.7737 3.6436v30.313c0 4.9622 3.5946 5.6602 6.5847 5.6602 2.9901 0 228.17 0.14007 243.15 0.033 14.982-0.10707 14.414 0.92296 14.414-11.107 0-12.03-0.13433-10.729-15.005-11.012-14.871-0.28343-66.544 0.93407-86.51-0.62772-19.966-1.5618-18.412-12.335-18.412-24.193s0.1441-24.445-0.34894-36.609c-0.55594-1.632-2.1073-3.1363-3.8677-3.3293zm-1.0555 109c-0.32126-0.012-0.64101-6e-5 -0.95576 0.0347-44.674 0.0695-126.56 0.0405-131.24 0.13527-4.679 0.0948-6.6351 2.9383-6.6351 7.4011 0 4.4628-1.0612 84.512 0.34035 108.69 1.4015 24.181 25.494 37.832 43.067 38.806 34.032 0.48039 95.673 0.1164 99.615-0.26356s4.1857-1.9032 18.921-12.634c14.735-10.731 89.025-68.298 94.351-72.914 5.3264-4.6164 7.7511-8.7144 7.7511-21.273s-10.992-25.852-25.027-25.857c-14.035-6e-3 -42.999-1.1694-56.278 1.163-13.279 2.3324-16.645 12.495-16.645 25.707 0 13.193 0.58638 35.145 0.75857 45.377 0.0737 4.3775 2.403 9.6302 7.3638 12.856s12.959 3.7125 12.959 3.7125c-29.508 1.6913-42.936-3.1018-43.102-26.603 0-18.912 0.0744-53.772-0.26127-80.637-0.46194-2.3879-2.7382-3.6196-4.9868-3.7039zm100.2 104.03c-0.62133-0.0117-1.2447 2e-3 -1.8685 0.0416-15.52 0.66061-27.922 18.154-22.9 33.13 3.9996 13.756 20.735 22.393 33.928 16.446 13.085-5.1618 20.298-22.568 13.262-35.208-4.2063-8.3569-13.101-14.235-22.421-14.41z"
        style="stroke-linejoin: round; stroke-width: 46.163px"
      ></path>
      <path
        d="m406.34 12.957c-0.12575-0.01384-0.25359-0.01384-0.38248 8.5e-4 -6.9934 2.2641-9.5147 3.2209-20.89 7.1442-11.375 3.9233-46.229 16.041-47.344 16.469s-1.3868 0.52005-1.3868 1.8218v15.157c0 2.4811 1.7973 2.8301 3.2924 2.8301s114.08 0.07003 121.58 0.0165c7.4911-0.05353 7.207 0.46148 7.207-5.5534 0-6.0149-0.0672-5.3644-7.5026-5.5062-7.4354-0.14172-33.272 0.46704-43.255-0.31386s-9.206-6.1677-9.206-12.097c0-5.9289 0.072-12.222-0.17447-18.304-0.27797-0.81601-1.0537-1.5682-1.9339-1.6647zm-0.52773 54.501c-0.16063-6e-3 -0.3205-3e-5 -0.47788 0.01735-22.337 0.03475-63.279 0.02025-65.619 0.06763-2.3395 0.0474-3.3175 1.4692-3.3175 3.7005 0 2.2314-0.53059 42.256 0.17017 54.347 0.70077 12.091 12.747 18.916 21.534 19.403 17.016 0.24019 47.836 0.0582 49.808-0.13178s2.0928-0.95162 9.4604-6.3171c7.3676-5.3654 44.512-34.149 47.176-36.457 2.6632-2.3082 3.8756-4.3572 3.8756-10.636 0-6.2792-5.496-12.926-12.513-12.929-7.0174-3e-3 -21.5-0.58469-28.139 0.58152-6.6393 1.1662-8.3225 6.2475-8.3225 12.853 0 6.5963 0.29319 17.572 0.37929 22.689 0.0368 2.1887 1.2015 4.8151 3.6819 6.4282 2.4804 1.6131 6.4796 1.8562 6.4796 1.8562-14.754 0.84563-21.468-1.5509-21.551-13.302 0-9.4559 0.0372-26.886-0.13063-40.319-0.23097-1.194-1.3691-1.8098-2.4934-1.8519zm50.101 52.017c-0.31066-6e-3 -0.62235 1e-3 -0.93426 0.0208-7.76 0.3303-13.961 9.077-11.45 16.565 1.9998 6.878 10.367 11.196 16.964 8.2228 6.5424-2.5809 10.149-11.284 6.631-17.604-2.1032-4.1784-6.5504-7.1173-11.21-7.2049z"
        style="stroke-linejoin: round; stroke-width: 23.082px"
      ></path>
      <path
        d="m519.92 12.952c-0.0629-0.0069-0.1268-0.0069-0.19124 4.25e-4 -3.4967 1.132-4.7573 1.6105-10.445 3.5721-5.6876 1.9616-23.114 8.0203-23.672 8.2344s-0.69342 0.26002-0.69342 0.9109v7.5784c0 1.2405 0.89866 1.4151 1.6462 1.4151s57.042 0.03502 60.788 0.0082c3.7456-0.02676 3.6035 0.23074 3.6035-2.7767s-0.0336-2.6822-3.7513-2.7531c-3.7177-0.07086-16.636 0.23352-21.627-0.15693-4.9914-0.39045-4.603-3.0838-4.603-6.0483 0-2.9644 0.036-6.1112-0.0872-9.1522-0.13898-0.408-0.52683-0.78408-0.96693-0.83233zm-0.26387 27.251c-0.0803-3e-3 -0.16025-1.5e-5 -0.23894 0.0087-11.168 0.01738-31.64 0.01013-32.809 0.03382-1.1698 0.0237-1.6588 0.73458-1.6588 1.8503 0 1.1157-0.2653 21.128 0.0851 27.173 0.35039 6.0453 6.3734 9.458 10.767 9.7014 8.5081 0.1201 23.918 0.0291 24.904-0.06589s1.0464-0.47581 4.7302-3.1585c3.6838-2.6827 22.256-17.074 23.588-18.229 1.3316-1.1541 1.9378-2.1786 1.9378-5.3182s-2.748-6.4629-6.2566-6.4643c-3.5087-0.0015-10.75-0.29234-14.069 0.29076-3.3196 0.58311-4.1612 3.1237-4.1612 6.4267 0 3.2981 0.1466 8.7862 0.18965 11.344 0.0184 1.0944 0.60074 2.4076 1.8409 3.2141 1.2402 0.80656 3.2398 0.92812 3.2398 0.92812-7.3771 0.42282-10.734-0.77545-10.775-6.6508 0-4.7279 0.0186-13.443-0.0653-20.159-0.11549-0.59698-0.68454-0.90491-1.2467-0.92597zm25.05 26.009c-0.15533-3e-3 -0.31118 5e-4 -0.46713 0.0104-3.88 0.16515-6.9804 4.5385-5.7251 8.2826 0.9999 3.439 5.1837 5.5982 8.4819 4.1114 3.2712-1.2904 5.0744-5.6419 3.3155-8.8019-1.0516-2.0892-3.2752-3.5586-5.6052-3.6024z"
        style="stroke-linejoin: round; stroke-width: 11.541px"
      ></path>
    </g>
  </svg>
</a>

<style>
  .logo {
    animation: 1s appear;
  }

  @keyframes appear {
    0% {
      opacity: 0;
    }
  }
</style>
